{% extends "base5.html.twig" %}

{% block title %}Magic Page{% endblock %}

{% block main %}

<h2>Api Controll:</h2>
<h5> Quote:</h5><p>Get a random daily quote.</p>
<h5> Cards:</h5><p>Get a sorted deck of cards.</p>
<h5> Shuffle:</h5><p>Shuffle the deck of cards.</p>
<h5> Draw:</h5><p>Draw card/cards from the deck.</p>
<h5> Game:</h5><p>.</p>



{% endblock %}
